.header {
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.header a {
    margin-right: 25px;
    color: cornsilk;
}

.header a:hover {
    background-color: black;
    padding: 8px;
    border: 1px solid white;
    color: white;
}